@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--text);
  transition: 500ms ease;
}

body {
  background-color: var(--secondary);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

$Primary-color: #ff4500;

.dark_mode {
  --header: #000;
  --secondary: rgba(0, 0, 0, 0.95);
  --text: #fff;
  --text2: rgba(255, 255, 255, 0.3);
  --invert: invert(1);
  --toggle: rgb(255, 255, 255);
}

.light_mode {
  --header: #fff;
  --secondary: rgba(55, 155, 0, 0.1);
  --text: var(var(--header));
  --invert: invert(0);
  --toggle: rba(211, 211, 211);
}
